$grey: #777777;
$middleGrey: #dcdcdc;
$middleGreyButton: #6d6d6d;
$lightGrey: #eeeeee;
$red:#c62c21;
$white: #FFFFFF;
$orange: #f09c00;
$darkOrange: #eea236;
$yellow: #ee9b00;
$lightRed: #cb2e1e;
$darkRed: #881814;

/**
 * Bootstrap customization
 */

